/* Description: User Guide CSS file */

/*****************/
/*    Learner Credential Wallet User Guide Page    */
/*****************/

.screenshot {
  border: 1px solid #fff;
  margin-bottom:10px;
  vertical-align: top;
}

.lcw-green {
  color:#A3E534;
}

.lcw-dark-green {
  color:#4D7C0F;
}

.lcw-red {
  color:#EF4444;
}

.lcw-light-red {
  color:#FF6565;
}

.lcw-dark-red {
  color:#B91C1C;
}

.lcw-gray {
  color:#9CA3AF;
  /* 400 */
}

/* Zooms Image */
.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(1.3);
  cursor: zoom-out
}

.lcw-header {
  margin-top:50px;
}
